body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  //background-color: $background-color;
  //color: #CCCCCC;
  color: black;
  padding-top: $header-height;
}

.padding-top-0{
  padding-top: 0px;
}

.navbar-opp{
  background-color: black;
  border-color: black;
  height: $header-height;
}


.cart{
  color: $menu-background-color;
  margin-left: 10px;
  &:hover{
    cursor: pointer;
    color: $menu-background-color;;
  }

  .link{
    color: $menu-background-color;;
  }
}

.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.user-menu{
  .link{
    color: $menu-background-color;
  }
}

.process-container{
  margin: 15px;
  margin-top: 20px;
  border: 1px solid #D8CDCD;
  padding: 5px;
  text-align: center;
  @include box-shadow;
  .heading-box{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;

    .heading{
      background-color: $background-color;
      font-size: x-large;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
      color: $text-color-primary;
    }
  }

  .process{
      margin-bottom: 20px;
      transition: all 0.5s ease-in-out;
      .widget-step{
        h3{
          font-weight: bold;
        }
      }
      .widget-text{
        p{
          font-size: large;
        }
      }
      .widget-image{
        border-radius: 50%;
        //background-color: #00AA00;
         width: 100%;
       // transform: scale(0,0);
        //transition: all 0.25s ease;
        &:hover{
          cursor: pointer;
          //width:110% ;
        }
        img{
          width: 50%;
        }
      }
  }
  .process.dashed{
    border: 2px dashed black;
    background-color: #f2dede;
  }
  .size-card{
    background-color: #f5f5f5;
    border: 10px ridge #444040;
    color: black;
    /* padding: 20px; */
    height: 160px;
    width: 150px;
    margin: 10px;

    -ms-box-shadow: 5px 10px 2px #CCC8C8;
    -moz-box-shadow: 5px 10px 2px #CCC8C8;
    -webkit-box-shadow: 5px 10px 2px #CCC8C8;
    box-shadow: 5px 10px 2px #CCC8C8;

    h1{
      font-weight: bold;
      margin-top: -20px;
    }
    h2{
      margin-top: 0px;
    }
    .tag{

        left: -80px;
        top: -20px;
        position: relative;
        width: 20px;
        color: green;
    }
    .price{
      font-size: 30px;
      font-weight: bold;
      padding: 0px;
      text-align: left;
    }
    .poster{
      height: 60px;
      width: 100%;
      img{
        height: 100%;
      }
    }
  }
  .dis-box{
    .card{
      background-color: $menu-background-color;
      color: white;
      padding: 20px;
      height: 175px;
      width: 150px;
      margin: 10px;
      border: 1px dashed;
      -ms-box-shadow: 5px 10px 2px #CCC8C8;
      -moz-box-shadow: 5px 10px 2px #CCC8C8;
      -webkit-box-shadow: 5px 10px 2px #CCC8C8;
      box-shadow: 5px 10px 2px #CCC8C8;

      h1{
        font-weight: bold;
      }
    }
    .card.one{
      background-color: #822C62;
    }
    .card.two{
      background-color: #37A5A5;
    }
    .card.three{
      background-color: #BDBD09;
    }
    .card.four{
      background-color: #676518;
    }
    .card.five{
      background-color: #D00404;
    }
  }
}


.discount-heading{
  font-size: xx-large;
  font-weight: bold;
  color: $text-color-primary;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.icon-opp{
  background: url("../images/poor.png") no-repeat ;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.icon-opp.excellent{
  background: url("../images/excellent.png") no-repeat ;
  background-size: cover;
}
.icon-opp.poor{
  background: url("../images/poor.png") no-repeat ;
  background-size: cover;
}
.icon-opp.good{
  background: url("../images/good.png") no-repeat ;
  background-size: cover;
}

.icon-opp.coin{
  background: url("../images/coins.png") no-repeat ;
  background-size: cover;
}


.page-pricing{
  table{
    margin-top: 20px;
    border: 1px solid;
    thead{
      border-bottom: 5px solid black;
      background: #F5D427;
      color: black;
    }
  }
}

.circle-container{
  text-align: center;
  padding: 10px;
  .circle{
    background-color: #000000;
    border-radius: 50%;
    border: 10px dashed $menu-background-color;
    color: white;
    height: 150px;
    width: 150px;
    line-height: 200px;


    .fa{
      font-size: 80px;
      line-height: 150px;
    }

  }
  .title{
    font-size: xx-large;
    /* font-weight: bold; */
    color: black;
    text-transform: uppercase;
  }
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.spinner {
  display:inline-block;
  border-radius: 50%;
  border-style: solid;
  border-bottom-color: #3b5641;
  border-top-color: #67b3a9;
  border-left-color: #df7950;
  border-right-color: #decb3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
  animation: rotate360 1s linear infinite;
  -webkit-animation: rotate360 1s linear infinite;

  border-width: 10px;
  width: 100px;
  height: 100px;
  line-height: 100%;
  margin-top: 20px;
}

/*.ng-hide-add {
  opacity: 1;
  transition: .35s linear all;
}
.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.ng-hide-remove {
  opacity: 0;
  transition: .35s linear all;
}
.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}*/
.page-view{
  padding-left: 5px;
  padding-right: 5px;
}
.ng-show{
  -webkit-animation:fadeIn .35s linear;
  -o-animation:fadeIn .35s linear;
  animation: fadeIn .35s linear;
}

.ng-hide{
  -webkit-animation:fadeOut .35s linear;
  -o-animation:fadeOut .35s linear;
  animation: fadeOut .35s linear;
}

.page-view.ng-enter {
  animation: fadeInRight .35s linear;
}

.page-view.ng-leave {
  animation: fadeOutLeft .35s linear;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
}


.bounce-in-up {
  opacity:1;  /* make things invisible upon start */
  -webkit-animation:bounceInUp ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:bounceInUp ease-in 1;
  animation:bounceInUp ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.search-container{
  input[type="text"]{
    background-color: #EEE;
    border-color: #EEE;
    color: black;
    font-size: large;


    &:focus,&:active.focus,&:active:focus{
      -webkit-box-shadow:none;
      box-shadow: none;
      border: 0px;
      outline: none;


    }
  }

  button{
    background-color: $secondary-band-color;
    color: white;
    border-color: $secondary-band-color;
  }
}

.band-logo{
  width: 100px;
  height: 100px;
  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
  img{
    width: 100%;
  }
}
.left-ads{
  padding: 0px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #E4DEDE;
  background-color: white;
  height: 300px;

  .title{
    background-color: #BF3835;
    text-decoration: blink;
    text-align: center;
    color: white;
    margin-top: 0px;
  }
  p{
    color: black;
    font-size: large;
    padding: 10px;
  }
}

.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.footer{
  background-color: #0d3349;
  color: #999999;
  min-height: 300px;
  min-height: 300px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.aboutus{
  //background-color: #00AA00;
  background-color: #DC9617;
  min-height: 200px;
  p{
    font-size: x-large;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

  }
}

.technology{
  min-height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  .stack{
    text-align: center;
    //background-color: gray;
    margin-top: 40px;
    height: 250px;
    img{
      max-height: 200px;
    }
    p{
      font-size: medium;
    }
  }

}

.navbar-brand{

  .text_1{
    font-size: x-large;
    color: black;
    .color_1{
      font-weight: bold;
      color: red;
    }
    .color_2{
      font-weight: bold;
      color: #DC9617;
    }
  }

  .text_2{
    font-size: larger;
  }
}

.projects{
  min-height: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  .stack{
    text-align: center;
    //background-color: gray;
    margin-top: 40px;

    img{
      width: 100%;
      height: 300px;
    }
    p{
      font-size: medium;
    }
    .title{
      background-color: #00AA00;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      font-size: x-large;
    }
    .detail-text{
      height: 200px;
      overflow-y: scroll;
      padding: 5px;
      background-color: #dca408;
      margin-top: 10px;
      color:black;
      font-size: large;
    }
  }

}

#ul-tasks li{
  margin: 0 0 20px 0;
}

.price-card{
  background-color: #f5f5f5;
  .header{
    background-color: green;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: x-large;
    text-transform: uppercase;
  }
  .body{
    text-align: center;
  }
}