.shipping-info{

  //border-bottom: 1px solid #E0DCDC;
  padding-bottom: 5px;

  h1{
    font-size: large;
    font-weight: bold;
  }
  h3{
    font-size: large;

  }
  h5{
    font-size: medium;
  }
  .link{
    //color: $menu-background-color;
    font-weight: bold;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }

}

.shipping-items{
  @extend .shipping-info;
  border: 0px;
  img{
    max-width: 100%;
  }
}

.shipping-summary{
  @extend .shipping-info;

}

.address-item{
  padding: 5px;
  .addr-text{
    font-size: medium;
  }
}
.price-summary{
  border: 1px solid darkgray;
  border-radius: 5px;
}
.address-box{
  border: 1px dashed darkgray;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ECE9E9;
}

.panel-payment{
  border-color: black;
  min-height: 215px;
  box-shadow: 5px 1px 1px #ccc8c8;
  .panel-heading{
    color: white;
    background-color: black;
    border-color:black;
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
  }
  .panel-body{
    .heading{
      text-transform: uppercase;
      color: darkgrey;
      font-weight: bold;
      font-size: smaller;

    }
    input{
      -webkit-box-shadow:none;
      box-shadow: none;
      border: 0px;
      outline: none;
      background-color: #eee;
      //border-bottom: 1px solid darkgray;
      &:focus,&:active.focus,&:active:focus{
        -webkit-box-shadow:none;
        box-shadow: none;
        border: 0px;
        outline: none;
        background-color: #FCF8E3;
      }
    }
  }
}
.panel-address{
  @extend .panel-payment;
  border-style: none;
  border-radius: 0px;
  box-shadow: none;
  .panel-heading{
    background-color: #DADADA;
    border: 0px;
    border-radius: 0px;
    button{
      padding: 0px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}