.modal-backdrop.am-fade {
  opacity: .5;
  transition: all .35s ease-in-out;
}

.modal-backdrop.am-fade.ng-enter, .modal-backdrop.am-fade.ng-leave-active {
  opacity: 0;
}


.modal-backdrop.am-fade.ng-enter-active, .modal-backdrop.am-fade.ng-leave {
  opacity: 0.5;
}


.modal.am-fade {
  transform: scale(1, 1);
  transition: all .35s ease-in-out;
}

.modal.am-fade.ng-enter, .modal.am-fade.ng-leave-active {
  transform: scale(0, 0);
}


.modal.am-fade.ng-enter-active, .modal.am-fade.ng-leave {
  transform: scale(1, 1);
}

.login-modal{

  border-radius: 0px;
  .modal-header{
    padding: 5px;
    border: 0px;
    border-top: 5px solid $menu-background-color;
    .modal-title{
      text-transform: capitalize;
    }
  }
  .link{
    font-weight: bolder;
    color: black;
    font-size: small;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }
  .modal-footer{
    padding: 0px;


  }
}
.order-confirm-modal{
  border-radius: 0px;
  .modal-header{
    padding: 5px;
    border: 0px;
    border-top: 5px solid $menu-background-color;
    font-size: x-large;
    border-bottom: 1px solid darkgray;

  }
  .modal-footer{
    border: 0px;
    border-radius: 0px;
  }
}

.btn-facebook{
  background-color: #3b5998;
  color: white;
  border-color:  #3b5998;;
}

.product-details-modal{
  color:black;
  border-radius: 0px;
  .modal-header{
    padding: 5px;
    border: 0px;
    border-top: 5px solid $menu-background-color;
    .modal-title{
      text-transform: capitalize;
      color:black;
    }
  }
  .link{
    font-weight: bolder;
    color: black;
    font-size: small;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }

  .product-image{
    img{
      width: 180px;
      height: 200px;
      overflow: hidden;
    }
  }
  .reg-price{
    color: black;
  }
  .sale-price{
    color: red;
    font-size: larger;
    margin-bottom: 15px;
  }
  .modal-footer{
    padding: 0px;


  }
  .product-detail-box{

    border-left: 1px double gray;
  }
}

.tab-pane.am-fade {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1;
}

.tab-pane.am-fade.active-remove {
  display: none !important;
}

.tab-pane.am-fade.active-add {
  animation-name: fadeIn;
}
