.badge{
  background-color: $menu-background-color;
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.btn-rect{
  border-radius: 0px;
  border: 0px;
}

.modal{
  .modal-content{
    border-radius: 0px;
  }
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.navbar-header{
  height: $header-height;
  line-height: $header-height;
}

.navbar-nav>li>a {

  line-height: 50px;
  font-size: large;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 0px;
  margin-top: 15px;

  &:hover{
    cursor: pointer;
    border-bottom: 2px solid red;
  }
}
.navbar-nav>.active>a{
  border-bottom: 2px solid red;
}