<div class="modal ">
    <div class="modal-dialog ">
        <div class="modal-content product-details-modal" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{selectedProduct.name}}</h4>

            </div>
            <div class="modal-body " >
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="product-image">
                            <img ng-src="{{selectedProduct.url}}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 product-detail-box">
                        <div class="">
                            <div class="col-xs-12 reg-price">
                                <span><strong>Reg price</strong></span><span><strike> $200</strike></span>
                            </div>
                            <div class="col-xs-12 sale-price">
                                <span><strong>Sale price</strong></span><span> $150</span>
                            </div>
                            <uib-tabset>

                                <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" >
                                    {{tab.content}}
                                </uib-tab>

                            </uib-tabset>
                            <div class="col-xs-12 input-group" style="margin-top: 10px">
                                <label class="col-xs-6">Quantity</label>
                                <div class="col-xs-6"><select class="form-control" ng-model="selectedProduct.quantity" ng-options="n for n in quantities"></select></div>
                            </div>
                            <div class="col-xs-12 " style="margin-top: 10px">
                                <button class="btn btn-opp-secondary pull-right" ng-click="addToCart()">Add to cart</button>
                            </div>
                            <div class="col-xs-12 " style="margin-top: 10px">
                                <button class="btn btn-opp-primary pull-right" ng-click="$hide()">Continue Shopping</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->