<div class="container margin-top-10">
    <div class="row">
        <div class="alert alert-danger" ng-hide="$parent.loggedIn">
            <strong>Please login to place your order</strong>
        </div>
    </div>


    <div class="row shipping-info" ng-show="$parent.loggedIn">
        <div class="col-sm-6 col-xs-12 ">
            <h1>Shipping Information</h1>

            <div class="address-box" ng-show="shippingAddress">

                <h5>{{shippingAddress.firstName}} {{shippingAddress.lastName}}</h5>
                <h5>{{shippingAddress.address}}</h5>
                <h5>{{shippingAddress.zip}} {{shippingAddress.city}}</h5>
            </div>
            <a class="link" ng-show="shippingAddress" ng-click="openAddressPopup()">Change</a>
            <a class="link" ng-hide="shippingAddress" ng-click="openAddressPopup('add')"><i class="fa fa-plus"></i> Shipping Address</a>
        </div>

        <!--<div class="col-lg-3 col-sm-6 col-xs-12 pull-right" >
            <h1>Shipping Method</h1>
            <select class="form-control" ng-options='option as (option.label+" - "+option.price + " RSD" )  for option in shippingMethods'
                    ng-model="order.shippingMethod" ng-change="updateShippingMethod()"></select>
            <h5>{{order.shippingMethod.summary}}</h5>
        </div>-->

    </div>


    <div class="row shipping-items">
        <div class="col-xs-12 col-sm-9" style="padding-left: 0px;padding-right: 0px">
            <h1>Your items</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cartImage in cartImages">
                    <td class="col-xs-12 col-sm-6">

                        <div class="col-sm-4 col-xs-12">
                            <img ng-src="{{cartImage.imgSrc}}">
                        </div>
                        <div class="col-sm-8 col-xs-12 text-center">
                            {{cartImage.format.frameSize}}
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <ul class="list-inline">
                                <li> <a class="link" ng-click="editCartItem($index)">Edit Order</a></li>
                                <li>|</li>
                                <li><a class="link" ng-click="deleteCartItem($index)">Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td class="col-xs-4 col-sm-2">{{cartImage.format.price}}</td>
                    <td class="col-xs-4 col-sm-2">{{cartImage.quantity}}</td>
                    <td class="col-xs-4 col-sm-2">{{cartImage.format.price*cartImage.quantity}}</td>

                </tr>

                </tbody>
            </table>

            <div class="alert alert-info alert-dismissible" role="alert" ng-show="loggedIn">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                We don't store your credit card detail
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary panel-payment">
                    <div class="panel-heading">Payment Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="heading col-xs-12">Cardhoder's Name</div>
                            <div class="text-box col-xs-12">
                                <input type="text" class="col-xs-5" placeholder="First name ">
                                <input type="text" class="col-xs-6 col-xs-offset-1" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="heading col-xs-12">Card Number</div>
                            <div class="text-box col-xs-12">
                                <input type="number" class="col-xs-2" placeholder="XXXX">
                                <input type="number" class="col-xs-2 col-xs-offset-1" placeholder="XXXX">
                                <input type="number" class="col-xs-2 col-xs-offset-1" placeholder="XXXX">
                                <input type="number" class="col-xs-2 col-xs-offset-1" placeholder="XXXX">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-6" style="padding-left: 0px">
                                <div class="heading col-xs-12">Expiry Date</div>
                                <div class="text-box col-xs-12">
                                    <input type="number"  class="col-xs-4" placeholder="MM">
                                    <input type="number"  class="col-xs-4 col-xs-offset-1" placeholder="YY">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="heading col-xs-12">CVV</div>
                                <div class="text-box col-xs-12">
                                    <input type="number"  placeholder="XXX">

                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary panel-address">
                    <div class="panel-heading">Billing Address
                        <button type="button" class="pull-right btn btn-opp-secondary" ng-click="">Copy Shipping Address</button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="heading col-xs-12">Full Address</div>
                            <div class="text-box col-xs-12">
                                <input type="text" class="col-xs-12" placeholder="Address line 1">
                                <input type="text" class="col-xs-12" style="margin-top: 3px" placeholder="Address line 2">
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-xs-4" style="padding-left: 0px">
                                <div class="heading col-xs-12">City</div>
                                <div class="text-box col-xs-12">
                                    <input type="text"  class="col-xs-12" placeholder="city">

                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="heading col-xs-12">State</div>
                                <div class="text-box col-xs-12">
                                    <input type="text"  class="col-xs-12" placeholder="state">

                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="heading col-xs-12">Zip</div>
                                <div class="text-box col-xs-12">
                                    <input type="text" class="col-xs-12" placeholder="zip">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-sm-3 col-xs-12 price-summary">
            <div class="row">
                <div class="col-xs-6">
                    <h3>{{cartImages.length}} products(s)</h3>
                </div>
                <div class="col-xs-6">
                    <h5>{{getTotalProductPrice()}} RSD</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3>Shipping & handling</h3>
                </div>
                <div class="col-xs-6">
                    <h5 ng-show="shippingCost == 0">FREE</h5>
                    <h5 ng-show="shippingCost > 0">{{shippingCost}} RSD</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-success">
                    <h3>Total savings</h3>
                </div>
                <div class="col-xs-6 text-success">
                    <h5>{{savings}} RSD</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h3><strong>Total</strong></h3>
                </div>
                <div class="col-xs-6 text-success text-x-large">
                    <span><strong>{{totalProductPrice+shippingCost-savings}} RSD</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <button class="btn btn-opp-primary btn-block" ng-click="placeOrder()" ng-disabled="!$parent.loggedIn || !order.addressId  || !order.shippingMethod || orderprogress">
                        <i ng-show="orderprogress" class="fa fa-spinner fa-spin"></i> Place Order</button>
                    <div class="alert alert-danger" ng-show="!$parent.loggedIn || !order.addressId  || !order.shippingMethod ">Please login, enter shipping address and shipping method to proceed.</div>
                </div>
            </div>



        </div>

    </div>

    <div class="row shipping-summary">
        <div class="col-sm-6 col-xs-12">

        </div>

    </div>



</div>