<div class="modal ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content login-modal" ng-init="formname='login'">

<div class="modal-body ">
    <div class="img-panel" style="height: auto;width: auto;border-radius: 0px">

        <div class="img-format">
            <div class="btn-group " style="width: 100%">
                <button type="button" class="btn btn-opp-light btn-block btn-rect  dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedCartItem.format.frameSize}}<i class="fa fa-caret-down pull-right"></i></button>


                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="format in formats"><a href="" class="link" ng-click="selectedCartItem.format=format;updateTotal()">{{format.frameSize}}</a></li>

                </ul>
            </div>
        </div>
        <div class="img-quantity" >
            <button class="btn btn-opp-light btn-rect pull-left" ng-click="decreaseeItemQuantity(selectedCartItem)"><i class="fa fa-minus"></i></button>
            <input type="number" ng-model="selectedCartItem.quantity" min="1" style="width: 60%" >
            <button class="btn btn-opp-light btn-rect pull-right" ng-click="increaseItemQuantity(selectedCartItem)"><i class="fa fa-plus"></i></button>
        </div>

    </div>
</div>
<div class="modal-footer" style="margin: 10px;border: 0px">
    <button class="btn btn-opp-primary ng-binding" ng-click="$hide();updateCartItem()">Update</button>
    <button class="btn btn-default ng-binding" ng-click="$hide()">Cancel</button>
</div>
</div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->