<div class="col-xs-12 search-page">
    <div class="col-md-3 col-lg-3 filter-box">
        <h2>Filter</h2>
    </div>

    <div class="col-md-9 col-lg-9 result-box">
        <ul class="list-inline">
            <li ng-repeat="p in products" class="product-card zoomIn animated">
                <div class="main">
                    <img ng-src="{{p.url}}">
                    <div class="overlap">
                        <h1><button class="btn btn-opp-secondary " ng-click="quickView($index)">Quick View</button></h1>
                        <!--<h1><button class="btn btn-opp-secondary ">Add to Cart</button></h1>-->
                    </div>
                    <a class="col-xs-12" href="#/details/{{p.id}}"><span class="name">{{p.name}}</span></a>
                    <div class="col-xs-12 reg-price">
                        <span><strong>Reg price</strong></span><span><strike>$200</strike></span>
                    </div>
                    <div class="col-xs-12 sale-price">
                        <span><strong>Sale price</strong></span><span>$150</span>
                    </div>
                </div>


            </li>
        </ul>

    </div>

</div>