<div class="container margin-top-10">
    <div class="col-xs-12">
        <span class="text-xx-large">Your Order(s)</span>
    </div>
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Ordered On</th>
                <th>Order ID</th>
                <th>No. Prints</th>
                <th>Your Cost</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ord in orders">
                <td class="col-xs-4 col-sm-2"><button class="btn btn-trans" ng-click="openOderDetails($index)"><i class=" fa fa-eye fa-lg"></i></button></td>
                <td class="col-xs-4 col-sm-2">
                    {{ord.orderDate | date: 'shortDate'}}
                </td>
                <td class="col-xs-4 col-sm-4">{{ord.trackingId}}</td>
                <td class="col-xs-4 col-sm-4">{{ord.noOfPrints}}</td>
                <td class="col-xs-4 col-sm-2">{{ord.finalCost}} RSD</td>
                <td class="col-xs-4 col-sm-2">{{ord.orderStatus}}</td>



                <!--<td class="col-xs-4 col-sm-2" ng-show="ord.orderStatus==='ORDERED'"><button class="btn btn-trans"><i class="text-danger fa fa-trash fa-lg"></i></button></td>-->
            </tr>

            </tbody>
        </table>
    </div>
</div>