<div class="modal ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content login-modal" ng-init="formname='login'">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Your Gallery</h4>

            </div>
            <div class="modal-body " >
                <div class="col-xs-12 gallery-box">
                    <ul class="list-inline">
                        <li ng-repeat="m in galleryBag">
                            <div class="img-panel" style="height: 205px;border-radius: 0px">
                                <!--<div class="img-header" ng-click="deleteImage($index)">
                                    <i class="fa fa-times-circle close-circle"></i>
                                </div>-->
                                <div class="img-holder">
                                    <img ng-src="{{m.imgSrc}}" ng-show="m.imgSrc">

                                </div>
                                <div class="img-status" style="padding-left: 5px">
                                    <!--<span>cat.png</span>-->
                                    <!--<label class="checkbox" style="left: 20px">
                                    <input type="checkbox" ng-model="m.import">
                                    </label>-->
                                    <div class="squaredTwo" >
                                        <input type="checkbox"  id="squaredTwo{{$index}}" name="check" ng-model="m.import" />
                                        <label for="squaredTwo{{$index}}"></label>
                                    </div>
                                </div>



                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="modal-footer">

                <button class="btn btn-opp-primary btn-rect" style="margin: 10px" ng-click="addImport();$hide()"> Import</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->