<div class="container">
    <div class="col-sm-9 col-xs-12 gallery-container">
        <div class="col-xs-12 gallery-header">
            <!--<button class="btn btn-opp-primary btn-rect " ng-click="uploadImage()"><i class="fa fa-plus"></i> Add Photo</button>-->
            <button class="btn btn-opp-primary btn-rect " ngf-select="uploadFiles($files)"
                    accept="image/*"  ngf-capture="'camera'" ngf-max-size="10MB" ngf-multiple="true"><i class="fa fa-plus"></i> Add Photo</button>

            <button class="btn btn-opp-primary btn-rect " ng-show="loggedIn" ng-click="openGallery()"><i class="fa fa-plus"></i> Import From Gallery</button>



        </div>
        <div class="col-xs-12 margin-top-10" >
            <div class="alert alert-success alert-dismissible" role="alert" ng-show="loggedIn">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                You can choose from your gallery
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Image size can not be more than 10MB
            </div>

        </div>
        <div class="col-xs-12 gallery-box">
            <ul class="list-inline">
                <li ng-repeat="m in imageBag">
                    <div class="img-panel">
                        <div class="img-header" ng-click="deleteImageFromBag($index)">
                            <i class="fa fa-times-circle close-circle"></i>
                        </div>
                        <div class="img-holder">
                            <img ng-src="{{m.imgSrc}}" ng-show="m.imgSrc">
                            <div class="prog-percentage" ng-hide="m.imgSrc">{{m.progress}}</div>
                            <div class="prog" ng-hide="m.imgSrc" ng-style="{width: m.progress }"></div>
                        </div>
                        <div class="img-status ">
                            <!--<span>cat.png</span>-->
                            <div  ng-show="m.imgSrc" class="icon-opp pull-right ngClass:getImageQuality(m.format.frameSize,m.height,m.width)"
                                 data-template-url="modules/upload/tmpl/modal/quality-popover.html" data-animation="am-flip-x" data-auto-close="1" data-trigger="hover" bs-popover></div>

                        </div>
                        <div class="img-format" ng-init="m.format=formats[0]">
                            <div class="btn-group btn-block">
                                <button type="button" class="btn btn-opp-light btn-rect format-size">{{m.format.frameSize}}</button>
                                <button type="button" class="btn btn-opp-light btn-rect dropdown-toggle format-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="format in formats"><a href="" class="link" ng-click="m.format=format;updateTotal()">{{format.frameSize}}</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="img-quantity" >
                            <button class="btn btn-opp-light btn-rect pull-left" ng-click="decreaseeQuantity(m)"><i class="fa fa-minus"></i></button>
                            <input type="number" ng-model="m.quantity" >
                            <button class="btn btn-opp-light btn-rect pull-right" ng-click="increaseQuantity(m)"><i class="fa fa-plus"></i></button>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-xs-12">
        <div class="row checkout-container">
            <div class="col-xs-12">
                <button class="btn btn-opp-light btn-rect btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-alt"></i> Format</button>
                <ul class="dropdown-menu">
                    <li ng-repeat="format in formats"><a href="" class="link" ng-click="updateGlobalFormat(format)">{{format.frameSize}}</a></li>

                </ul>
            </div>
            <div class="col-xs-12 margin-top-10">
                <!--<button class="btn btn-opp-light btn-rect btn-block"><i class="fa fa-newspaper-o"></i> Paper Quality</button>-->
                <div class="btn-group" style="width: 100%">
                    <label class="btn btn-default" style="width: 50%" ng-model="globalPaperFinish" uib-btn-radio="'glossy'" uncheckable>Glossy</label>
                    <label class="btn btn-default" style="width: 50%" ng-model="globalPaperFinish" uib-btn-radio="'matte'" uncheckable>Matte</label>

                </div>
            </div>
            <div class="col-xs-12 checout-box">

                    <span class="col-xs-9">Number of Pictures:</span>
                    <span class="col-xs-3">{{imageBag.length}}</span>


                    <span class="col-xs-9">Number of Photos:</span>
                    <span class="col-xs-3">{{getTotalPhotos()}}</span>

                <div class="col-xs-12 text-center">

                    <span class="price">{{totalPrice}} RSD</span>
                </div>
                <div class="col-xs-12">

                    <button class="btn btn-opp-primary btn-block" ng-disabled="totalPhoto==0" ng-click="checkout()"
                    ><i class="fa fa-shopping-cart fa-lg"></i> Checkout </button>
                    <div class="alert alert-danger" ng-show="totalPhoto==0">You have not added any photo to print. Please add some photos.</div>
                </div>
            </div>
        </div>
    </div>
</div>
